body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
}


/*
@media screen and (max-width: 35.5em)	Max 568px	_xs-*
@media screen and (max-width: 48em)	Max 768px	_sm-*
@media screen and (max-width: 64em)	Max 1024px	_md-*
@media screen and (max-width: 80em)	Max 1280px	_lg-*
 */
.app {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .app {
    width: 768px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .app {
    width: 1024px;
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  .app {
    width: 1280px;
    margin: auto;
  }
}

.firebaseui-card-content {
  padding: 0;
}
.firebaseui-list-item,
.firebaseui-idp-list {
  margin: 0 !important;
}
